    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;
    }
    
    .nav a {
        flex: 1;
    }
    
    .service {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-evenly;
        /* width: 100%; */
    }
    
    .service div {
        flex: 1 1 33.33%;
        margin-top: 30px;
    }
    
    .comment {
        direction: rtl;
    }
    
    .comment-list {
        display: flex;
        flex-flow: row nowrap;
    }
    
    .costumer-comment-4,
    .costumer-comment-1 {
        margin: 25px;
    }
    
    .costumer-comment-5,
    .costumer-comment-2 {
        width: 1855px;
        margin: 25px;
    }
    
    .costumer-comment-3 {
        margin: 25px 25px 48px 25px;
    }
    
    .costumers-logo {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    
    .footer {
        display: flex;
        justify-content: flex-start;
        flex-flow: row nowrap;
    }
    
    .copy-right {
        width: 430px;
    }
    /* mobile size */
    
    @media screen and (max-width: 567px) {
        .nav {
            flex-direction: column-reverse;
            margin-bottom: 239px;
        }
        .nav img {
            margin: 40px;
        }
        .nav-menu {
            width: 100%;
            display: flex;
            text-align: center;
        }
        .nav a {
            width: 150px;
            direction: rtl;
            margin: 20px 0 0;
        }
        .nav div {
            flex-wrap: wrap;
        }
        .service div {
            flex-basis: 100%;
        }
        .comment-container,
        .comment-list {
            flex-direction: column;
        }
        .costumer-comment-5,
        .costumer-comment-2,
        .costumer-comment-1,
        .costumer-comment-3,
        .costumer-comment-4 {
            width: auto;
        }
        .costumers-logo {
            flex-direction: column;
        }
        .costumers-logo img {
            margin: 0 auto;
            width: 150px;
            margin-bottom: 30px;
        }
        .footer {
            flex-flow: column nowrap;
        }
        .about-us,
        .copy-right,
        .social-media {
            margin: 0 auto;
        }
    }
    /* tablet size */
    
    @media screen and (min-width: 568px) {
        .nav {
            flex-direction: column-reverse;
            margin-bottom: 252px;
        }
        .nav-menu {
            width: 100%;
            display: flex;
            text-align: center;
            flex-direction: row;
        }
        .artial-logo {
            margin-bottom: 50px;
        }
        .service div {
            flex: 1 1 50%;
        }
        .comment-container,
        .comment-list {
            flex-direction: column;
        }
        .costumer-comment-5,
        .costumer-comment-2,
        .costumer-comment-1,
        .costumer-comment-3,
        .costumer-comment-4 {
            padding: 24px 50px 40px 30px;
            width: auto;
        }
        .costumers-logo {
            width: 150px;
            margin: 0 auto;
            flex-flow: column wrap;
        }
        .footer {
            flex-flow: column wrap;
            align-items: center;
        }
    }
    /* IIIIIIIIIIIIIIIIIIIIIIIIII */
    
    @media screen and (min-width: 992px) {
        .nav {
            flex-direction: row;
            margin-bottom: 283px;
        }
        .nav-menu {
            width: 60%;
            display: flex;
            margin-left: 30px;
        }
        .artial-logo {
            margin-right: 20px;
        }
    }
    /* desktop size */
    
    @media screen and (min-width: 1200px) {
        .nav {
            margin-bottom: 266px;
        }
        .nav-menu {
            width: 50%;
            display: flex;
            margin-top: -35px;
        }
        .service div {
            flex: 1 1 33.33%;
        }
        .comment-list {
            display: flex;
            flex-flow: row nowrap;
        }
        .costumer-comment-3 {
            margin: 25px 25px 48px 25px;
        }
        .costumer-comment-1,
        .costumer-comment-4 {
            margin: 25px;
        }
        .costumer-comment-2,
        .costumer-comment-5 {
            margin: 25px;
            width: 1855px;
        }
        .costumers-logo {
            width: 100%;
            margin-top: 100px;
            flex-flow: row nowrap;
            justify-content: space-around;
        }
        .footer {
            width: 95%;
            flex-flow: row nowrap;
        }
        .social-media h4 {
            margin-right: -30px;
        }
        .social-media {
            margin-left: -120px;
        }
        .copy-right {
            margin-left: 90px;
        }
        .about-us,
        .social-media,
        .copy-right {
            flex: 1 1 33.33%;
        }
    }