.gallery {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.gallery-container {
    align-items: center;
    width: 100%;
    display: flex;
    height: 400px;
    margin: 0 auto;
    position: relative;
}

.back-ground-gallery-selected {
    margin: 0 auto;
    height: 375px;
    margin-top: -5px;
    width: 608px;
}

.gallery-item {
    width: 260px;
    opacity: .7;
    position: absolute;
    transition: all .5s ease-in-out;
    height: 200px;
    z-index: 0;
}

.gallery-item-selected {
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 10px 10px;
    width: 480px;
    z-index: 2;
}

.gallery-item-previous {
    z-index: 1;
    left: 39%;
    transform: translateX(-50%);
}

.gallery-item-next {
    z-index: 1;
    left: 61%;
    transform: translateX(-50%);
}

.gallery-item-first {
    left: 14%;
    transform: translateX(-50%);
}

.gallery-item-last {
    left: 86%;
    transform: translateX(-50%);
}

.button img {
    margin-left: 0 3%;
    width: 20px;
    cursor: pointer;
    z-index: 100;
    opacity: .6;
    height: 120px;
    transition: all 1s;
    border-radius: 10px;
    padding: 5px;
}

.button img:hover {
    background-color: grey;
}


/*  */

.move-out-from-left {
    animation: moveOutLeft 0.5s ease-in-out;
}

.move-out-from-right {
    animation: moveOutRight 0.5s ease-in-out;
}

.move-in-from-right {
    animation: moveInRgiht 0.5s ease-in-out;
}

.move-in-from-left {
    animation: moveInLeft 0.5s ease-in-out;
}

@keyframes moveInLeft {
    0% {
        left: 100%;
        opacity: 0;
    }
    100% {
        opacity: .7;
        left: 86%;
    }
}

@keyframes moveInRgiht {
    0% {
        left: 0%;
        opacity: 0;
    }
    100% {
        opacity: .7;
        left: 14%;
    }
}

@keyframes moveOutLeft {
    0% {
        left: 14%;
        opacity: 1;
    }
    100% {
        left: 0;
        opacity: 0;
    }
}

@keyframes moveOutRight {
    0% {
        left: 86%;
        opacity: 1;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}


/*  */

@media screen and (max-width: 567px) {
    .gallery {
        width: 100%;
        margin-top: 100px;
    }
    .gallery-item-selected {
        margin: 0 auto;
        width: 80%;
    }
    .back-ground-gallery-selected {
        width: 100%;
        height: 513px;
    }
    .gallery-item-selected {
        height: 404px;
    }
    .gallery-item-previous,
    .gallery-item-next,
    .gallery-item-first,
    .gallery-item-last {
        width: 0px;
    }
    @keyframes moveOutRight {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
}

@media screen and (min-width: 568px) and (max-width: 765px) {
    .back-ground-gallery-selected {
        margin: -14px 0px 0px -34px;
        width: 100%;
        margin: 0 auto;
    }
    .gallery-item-selected {
        width: 385px;
    }
    .gallery-item-previous,
    .gallery-item-next,
    .gallery-item-last,
    .gallery-item-first {
        width: 0px;
    }
    @keyframes moveOutRight {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
}

@media screen and (min-width: 768px) and (max-width:991px) {
    .gallery-item-previous,
    .gallery-item-next,
    .gallery-item-last,
    .gallery-item-first {
        width: 180px;
    }
}

@media screen and (min-width: 992px) and (max-width:1199px) {
    .gallery-item-previous,
    .gallery-item-next,
    .gallery-item-last,
    .gallery-item-first {
        width: 240px;
    }
    .gallery-item-selected {
        width: 485px;
    }
}