.container {
    width: 90%;
    margin: 0 auto;
}

.comment span,
.header-service span,
.costumers span {
    opacity: 0.5;
}

.container a:link {
    text-decoration: none;
}

.background-nav-image {
    height: 430px;
    position: absolute;
}

.nav {
    position: relative;
}

.nav a {
    font-size: 20px;
    color: white;
}

.header-service {
    text-align: center;
    margin-bottom: 100px;
}

.header-service span {
    font-size: 20px;
}

.product {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 300px;
}

.product-botton {
    margin-top: 40px;
    font-size: 20px;
    border: solid #3FCFC7 3px;
    border-radius: 40px;
    padding: 18px 0px;
    width: 430px;
    margin: 0 auto;
}

.text-botton {
    margin-left: 125px;
    color: #3FCFC7;
}

.comment {
    padding: 200px 0px;
    background-image: linear-gradient( white, rgb(243, 243, 243), white);
    margin-top: -300px;
    line-height: 1.8;
}

.comment-title span {
    font-size: 20px;
}

.costumer-comment-1,
.costumer-comment-2,
.costumer-comment-3,
.costumer-comment-4,
.costumer-comment-5 {
    direction: rtl;
    background-color: white;
    padding: 24px 50px 40px 30px;
    border-radius: 5px;
}

.comment-title {
    text-align: center;
    padding-top: 50px;
}

.costumers {
    text-align: center;
    margin-bottom: 300px;
}

.costumers img {
    opacity: 0.3;
}

.costumers span {
    font-size: 20px;
}

.footer {
    direction: rtl;
}

.footer p {
    opacity: 0.5;
    font-size: 18px;
}

.copy-right {
    margin-top: 30px;
    text-align: center;
}

.information {
    margin-right: 20px;
    line-height: 1.6;
}

.social-media p {
    width: 100px;
}

.social-media i {
    margin-left: 15px;
}

.footer-title {
    font-size: 25px;
}

.footer span {
    color: blue;
}


/* mobbile size */

@media screen and (max-width: 567px) {
    .container {
        width: 100%;
    }
    .background-nav-image {
        height: 430px;
        width: 97%;
    }
    .product-botton {
        width: 100%;
        padding: 10px 0;
    }
    .costumers {
        margin-bottom: 150px;
    }
    .about-us {
        text-align: center;
    }
}


/* tablet size */

@media screen and (min-width: 568px) {
    .container {
        width: 100%;
    }
    .background-nav-image {
        height: 430px;
        width: 98%;
    }
    .nav {
        padding-top: 23px;
    }
}


/* mspdm */

@media screen and (min-width: 768px) {
    .container {
        width: 100%;
    }
    .background-nav-image {
        height: 430px;
        width: 98%;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 100%;
    }
    .background-nav-image {
        height: 430px;
        width: 99%;
    }
}


/* desktop size */

@media screen and (min-width: 1200px) {
    .container {
        width: 90%;
    }
    .background-nav-image {
        height: 430px;
        width: 89%;
    }
    .nav {
        top: 25px;
        padding: 20 42px;
    }
}