@font-face {
    font-family: 'IRANsans';
    src: url(../font/IRANSans.ttf);
    src: url(../font/IRANSans_Bold.ttf);
    src: url(../font/IRANSans_Black.ttf);
    src: url(../font/IRANSans_Light.ttf);
    src: url(../font/IRANSans_Medium.ttf);
    src: url(../font/IRANSans_UltraLight.ttf);
}

.container {
    font-family: 'IRANSans';
    width: 90%;
    margin: 0 auto;
}

.comment span,
.service-title span,
.costumers span {
    opacity: 0.5;
}

.container a:link {
    text-decoration: none;
}

.background-nav-image {
    height: 430px;
    position: absolute;
}

.nav {
    position: relative;
}

.nav a {
    font-size: 20px;
    color: white;
}

.service-title {
    text-align: center;
    margin-bottom: 50px;
    line-height: 1;
}

.service {
    font-size: 20px;
}

.service-title span {
    font-size: 20px;
}

.product {
    text-align: center;
    margin-top: 200px;
}

.product-botton {
    margin-top: 40px;
    font-size: 20px;
    border: solid #3FCFC7 3px;
    border-radius: 40px;
    padding: 18px 0px;
    width: 430px;
    margin: 0 auto;
}

.text-botton {
    margin-left: 155px;
    color: #3FCFC7;
}

.comment {
    padding: 200px 0px;
    background-image: linear-gradient( white, rgb(250, 250, 250), white);
    line-height: 1.8;
}

.comment-title {
    line-height: 1;
    margin-bottom: 200px;
}

.comment-title span {
    font-size: 20px;
}

.costumer-comment-1,
.costumer-comment-2,
.costumer-comment-3,
.costumer-comment-4,
.costumer-comment-5 {
    direction: rtl;
    background-color: white;
    padding: 24px 50px 40px 30px;
    border-radius: 5px;
}

.comment-title {
    text-align: center;
    padding-top: 50px;
}

.costumers {
    line-height: 1;
    text-align: center;
    margin-bottom: 200px;
}

.costumers img {
    opacity: 0.3;
}

.costumers span {
    font-size: 20px;
}

.footer {
    direction: rtl;
}

.footer p {
    opacity: 0.5;
    font-size: 18px;
}

.copy-right {
    margin-top: 30px;
    text-align: center;
}

.information {
    margin-right: 20px;
    line-height: 1.6;
}

.social-media p {
    width: 100px;
}

.footer-title {
    font-size: 25px;
}

.footer span {
    color: blue;
}

.footer i {
    margin-left: 15px;
    padding: 6px;
    background-color: rgb(204, 195, 195);
    border-radius: 50%;
}


/* mobbile size */

@media screen and (max-width: 567px) {
    .container {
        width: 100%;
    }
    .background-nav-image {
        width: 97%;
    }
    .product-botton {
        width: 100%;
        padding: 10px 0;
    }
    .costumers {
        margin-bottom: 150px;
    }
    .about-us {
        text-align: center;
    }
}


/* tablet size */

@media screen and (min-width: 568px) {
    .container {
        width: 100%;
    }
    .background-nav-image {
        width: 98%;
    }
    .nav {
        padding-top: 23px;
    }
}


/* mspdm */

@media screen and (min-width: 768px) {
    .container {
        width: 100%;
    }
    .background-nav-image {
        width: 98%;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 100%;
    }
    .background-nav-image {
        width: 99%;
    }
}


/* desktop size */

@media screen and (min-width: 1200px) {
    .container {
        width: 90%;
    }
    .background-nav-image {
        width: 89%;
    }
    .nav {
        top: 25px;
        padding: 20px 42px;
    }
}