@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/eot/IRANSansWeb_Black.eot');
    src: url('../fonts/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb_Black.woff2') format('woff2'), url('../fonts/woff/IRANSansWeb_Black.woff') format('woff'), url('../fonts/ttf/IRANSansWeb_Black.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/IRANSansWeb_Bold.eot');
    src: url('../fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'), url('../fonts/woff/IRANSansWeb_Bold.woff') format('woff'), url('../fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/IRANSansWeb_Medium.eot');
    src: url('../fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'), url('../fonts/woff/IRANSansWeb_Medium.woff') format('woff'), url('../fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/IRANSansWeb_Light.eot');
    src: url('../fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'), url('../fonts/woff/IRANSansWeb_Light.woff') format('woff'), url('../fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/eot/IRANSansWeb_UltraLight.eot');
    src: url('../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'), url('../fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'), url('../fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/IRANSansWeb.eot');
    src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'), url('../fonts/woff/IRANSansWeb.woff') format('woff'), url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');
}

.body {
    margin: 0;
}

.text-botton,
.nav a {
    font-weight: 700;
}

.container-wrapper {
    width: 100%;
}

.container {
    font-family: 'IRANSans';
    margin: 0 auto;
}

.comment p,
.service-title p,
.costumers p,
.footer p {
    color: grey;
}

.container a:link {
    text-decoration: none;
}

.background-nav-image {
    /* height: 430px; */
    position: absolute;
    width: 100%;
    height: 455px;
}

.nav {
    position: relative;
}

.nav a {
    font-size: 20px;
    color: white;
}

.service-title {
    text-align: center;
    margin-bottom: 50px;
    line-height: 1;
}

.service {
    font-size: 20px;
}

.service-title span {
    font-size: 20px;
}

.product {
    text-align: center;
    margin-top: 200px;
}

.product-botton {
    margin-top: 40px;
    font-size: 20px;
    border: solid #3FCFC7 3px;
    border-radius: 40px;
    padding: 18px 0px;
    width: 430px;
    margin: 0 auto;
}

.text-botton {
    margin-left: 155px;
    color: #3FCFC7;
}

.product-botton:hover {
    background-color: grey;
    transition: 2s;
}

.text-botton:hover {
    transition: 1s;
    margin-left: 10px;
}

.comment {
    padding: 200px 0px;
    background-image: linear-gradient( white, rgb(250, 250, 250), white);
    line-height: 1.8;
}

.comment-title {
    line-height: 1;
    margin-bottom: 200px;
}

.comment-title span {
    font-size: 20px;
}

.costumer-comment-1,
.costumer-comment-2,
.costumer-comment-3,
.costumer-comment-4,
.costumer-comment-5 {
    direction: rtl;
    background-color: white;
    padding: 24px 50px 40px 30px;
    border-radius: 5px;
}

.comment-title {
    text-align: center;
    padding-top: 50px;
}

.costumers {
    line-height: 1;
    text-align: center;
    margin-bottom: 200px;
}

.costumers img {
    opacity: 0.3;
}

.costumers span {
    font-size: 20px;
}

.footer {
    direction: rtl;
}

.footer p {
    font-size: 18px;
}

.copy-right {
    margin-top: 30px;
    text-align: center;
}

.information {
    margin-right: 20px;
    line-height: 1.6;
}

.social-media p {
    width: 100px;
}

.footer-title {
    font-size: 22px;
}

.footer span {
    color: blue;
}

.footer i {
    margin-left: 15px;
    padding: 6px;
    background-color: rgb(204, 195, 195);
    border-radius: 50%;
}


/* mobbile size */

@media screen and (max-width: 567px) {
    .container {
        width: 100%;
    }
    .background-nav-image {
        /* width: 100%; */
    }
    .product-botton {
        width: 100%;
        padding: 10px 0;
    }
    .costumers {
        margin-bottom: 150px;
    }
    .about-us {
        text-align: center;
    }
}


/* tablet size */

@media screen and (min-width: 568px) {
    .container {
        width: 540px;
    }
    .background-nav-image {
        /* width: 540px; */
    }
    .nav {
        padding-top: 23px;
    }
}


/* ]]]]]]]]]]]]]]]]]] */

@media screen and (min-width: 768px) {
    .container {
        width: 720px;
    }
    .background-nav-image {
        /* width: 720px; */
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 960px;
    }
    .background-nav-image {
        /* width: 960px; */
    }
    .nav {
        top: 25px;
    }
}


/* desktop size */

@media screen and (min-width: 1200px) {
    .container {
        width: 1140px;
    }
    .background-nav-image {
        /* width: 1140px; */
    }
}